/* Footer.css */

.footer-1 {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.footer-2 {
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 20px;
}