/* Header.css */

.header-1 {
    background-color: blue;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.header-2 {
    background-color: blue;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}